[Unit]
Description=Auto-detecta la zona horaria por IP (sistema)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/auto_timezone.sh
