[Unit]
Description=Auto-detecta la zona horaria por IP
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/auto_timezone.sh